* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

li{
    list-style: none;
    margin-left: 20px;
}


.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    transform: translateY(50px);
    padding:20px;
}
h2{

    color: rgb(255, 255, 255);
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
}



.img-fluid{
    max-height: 150px;
}


p{
    margin: 0;
    padding: 0;
}
.reloj{
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position:sticky;
 
    text-shadow: 0 0 20px rgba(10,175, 230,1), 0 0 20px rgba(10,175, 230,0) ;
}

.clicevent {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px 20px 20px 20px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #ff92e2b9;
    z-index: 1;
}
#tcenter {
    text-align: center;
}

.coordenada{
    color: rgb(255, 255, 255);
    text-shadow:
		0 0 5px rgb(255, 0, 0),
		0 0 10px rgb(255, 0, 0),
		0 0 20px rgb(255, 8, 0),
		0 0 40px rgb(127, 38, 38),
		0 0 80px rgb(127, 38, 38),
		0 0 90px rgb(127, 38, 38),
		0 0 100px rgb(127, 38, 38),
		0 0 140px rgb(127, 38, 38),
		0 0 180px rgb(127, 38, 38);   
}


.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  }